Flask==3.0.0
opencv-python-headless==4.8.1.78
mediapipe==0.10.8
numpy==1.26.2
gunicorn==21.2.0
flask-socketio==5.3.6
python-socketio[client]==5.11.0
eventlet==0.35.2
websockets>=12.0flask-sock==0.7.0
